@using DomainLayer.ActiveRecord
@using Web.Models
@{
    ViewData["Title"] = "Knihovna";
}


<table border="1">
    <tr>
        <td><b>Nazev</b></td>
        <td><b>Jmeno autora</b></td>
        <td><b>Zanr</b></td>
        <td><b>Skladem</b></td>
        <td><b>Rezervovat</b></td>
    </tr>
    @foreach (BookActiveRecord book in ViewBag.Books)
    {
        <tr>
            <td>@book.Title</td>
            <td>@book.Author.Name @book.Author.Surname</td>
            <td>@book.Genre</td>
            <td>@book.Available</td>
            @if (book.Available <= 0)
            {

            }
            else
            {
                <td>
                    <form action="@Url.Action("Book", "Home")" method="post">
                        <input type="hidden" name="id" value="@book.ID" />
                        <button type="submit">Rezervovat</button>
                    </form>
                </td>
            }
        </tr>
    }
</table>
<br>
<br>

<form action="@Url.Action("DownloadCSV", "Home")">
    <button type="submit">Stahnout seznam v CSV</button>
</form>

