@using DomainLayer.ActiveRecord
@using System.Collections.Generic
@using System 
@{
    ViewData["Title"] = "Knihovna";
}



@foreach (KeyValuePair<RentalActiveRecord, List<BookActiveRecord>> rental in ViewBag.Rentals)
{
<div>
    <table border="1">
        <tr>
            <td><b>Datum vypujcky</b></td>
            <td><b>Vratit do:</b></td>
        </tr>
        <tr>
            <td>@rental.Key.RentalDate</td>
            @if (rental.Key.Extended)
            {
            <td>@(((DateTime)(rental.Key.RentalDate)).Add(new TimeSpan(30, 0, 0, 0)))</td>
            }
            else
            {
                <td>@rental.Key.RentalDate</td>
            }


        </tr>
        <tr>
            <td><b>Nazev</b></td>
            <td><b>Jmeno autora</b></td>
            <td><b>Zanr</b></td>
        </tr>
        @foreach (BookActiveRecord book in rental.Value)
        {
            <tr>
                <td>@book.Title</td>
                <td>@book.Author.Name @book.Author.Surname</td>
                <td>@book.Genre</td>
            </tr>
        }

    </table>
    <form action ="@Url.Action("Extend", "Home")" method="post">
        <input type="hidden" name="id" value="@rental.Key.ID" />
        <button type="submit">Prodlouzit vypujcku</button>
    </form>
</div>
    <br>
    <br>
}

